body {
    margin: 0;
    padding: 0;
    background-color: #f2f4f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.speed-gauge {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}
.top {
    height: 400px;
}
.bottom {
    height: 100px;
    background-image: linear-gradient(to right, #19709F 0, #4DB6C3 100%);
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.results {
    color: #fff;
}
.results,
.secondary-results {
    display: flex;
    padding: 15px;
    text-transform: capitalize;
    font-weight: 700;
}
.latency,
.download {
    flex: 1;
}
.logo {
    background-image: url("img/icons.png");
    background-position: 0px -897px;
    background-repeat: no-repeat;
    display: block;
    height: 36px;
    width: 115px;
    position: relative;
    top: 15px;
    left: 15px;
    margin: 0;
    padding: 0;
}
