# Specify ssh connection parameter per target host
#
# As an example, the entry below specifies that the
# user account is centos, the private key used as
# identity file. We do not do host checking and do
# not store hosts as known. We log only ERROR level
# messages
#
# Host 96.118.* 96.119.*
#	User centos
#	IdentityFile private/hackathon.pem
#	StrictHostKeyChecking no
#	UserKnownHostsFile /dev/null
#	LogLevel ERROR
#
# If configuring test servers via a jumphost, we can
# take advantage of ssh's ProxyCommand setup so that
# we can run the playbook in a machine with access
# to the jumphost. As an example:
#
# Host jumphost
# 	User hackuser
# 	IdentityFile private/hackuser.pem
#	Hostname jumphost.hack.org
#
# Host *.testservers.hack.org
#	User clduser
#	IdentityFile private/hackserver.pem
# 	ProxyCommand ssh jumphost -F ssh.config -o StrictHostKeyChecking=no -W %h:%p
